---
import Button from './Button.astro'
import ButtonSocial from './ButtonSocial.astro'
---

<div class='flex flex-col items-center justify-center gap-3 px-4 mb-10 text-lg font-medium sm:flex-row'>
    <Button
        link='https://api.whatsapp.com/send?phone=34605322355&text=%C2%A1Hola+Manuel+Denis%21+Estuve+viendo+tu+portafolio+y+me+encant%C3%B3+lo+que+haces.+Me+gustar%C3%ADa+conocerte+mejor+y+ver+c%C3%B3mo+podr%C3%ADamos+trabajar+juntos.+%C2%BFCu%C3%A1ndo+estar%C3%ADas+disponible+para+hablar%3F'
        icon='icono-igual-vector-web'
        className='text-slate-50  hover:bg-slate-50 hover:text-slate-900 bg-slate-950  dark:text-slate-900 dark:bg-slate-100/90 dark:hover:bg-slate-950 dark:hover:text-slate-50'
        titulo='Escríbeme'
    />
    <Button link='#' icon='icono-funcion-vector-web' titulo='Curriculum' />
    <div class='flex gap-3'>
        <ButtonSocial link='https://www.linkedin.com/in/manueldenisdev/' icon='ion--logo-linkedin' />
        <ButtonSocial link='https://github.com/ManuelDenisDev' icon='ion--logo-github' />
    </div>
</div>
