---

---

<footer class='px-4 mt-20 mb-10 text-center text-gray-500 dark:text-gray-400'>
    <small class='block mb-2 text-xs'>&copy; 2024 Manuel Denis Developer. Todos los derechos reservados.</small>
    <p class='text-xs'>
        <span class='font-semibold'>Sobre este sitio:</span>
        Creado con Astro & ViewTransitions, TypeScript y Tailwind Css. El codigo fuente esta disponible en <a
            class='font-semibold underline transition duration-300 hover:text-gray-950 dark:hover:text-gray-200'
            href='https://github.com/StefanoP21/portfolio'
            target='_blank'
            rel='noopener noreferrer'>GitHub</a
        >.
    </p>
</footer>
