---

---

<!-- <div
    class='absolute top-0 left-0 h-[35rem] w-full z-[-10] rounded-full blur-[10rem]'
    style={{
        backgroundImage: 'linear-gradient(to right, #4ade80, #a78bfa)',
    }}
>
</div> -->
<div
    class='absolute top-0 left-0 h-[35rem] w-full z-[-10] rounded-full blur-[10rem] inset-0 bg-[linear-gradient(to_right,#4ade80,#a78bfa)] dark:bg-[linear-gradient(to_right,#22c55e,#8b5cf6)]'
>
</div>
