---
import SectionDivider from '@/components/shared/SectionDivider.astro'
import Layout from '../layouts/Layout.astro'
import Intro from '@/components/Intro.astro'
import Habilidades from '@/components/Habilidades.astro'
import Recursos from '@/components/Recursos.astro'
import Experiencia from '@/components/Experiencia.astro'
import Proyectos from '@/components/Proyectos.astro'
import Contacto from '@/components/Contacto.astro'
---

<Layout
    title='Desarrollador web - Manuel Denis Developer | Frontend, JavaScript, TypeScript, React, Node.js, Astro, Next.js, Tailwind CSS'
>
    <main class='flex flex-col items-center px-4'>
        <Intro />
        <SectionDivider />
        <Habilidades />
        <Recursos />
        <Experiencia />
        <Proyectos />
        <Contacto />
    </main>
</Layout>
