---
import { Icon } from 'astro-icon/components'
import SectionHeading from './shared/SectionHeading.astro'
import ContactoLinks from './shared/ContactoLinks.astro'
import Logo from './shared/Logo.astro'
---

<section id='contacto' class='mb-24 max-w-[50rem] text-center sm:mb-0 scroll-mt-32'>
    <SectionHeading title='Contacto' />
    <ContactoLinks />
    <Logo />
</section>
