---

---

<header class='relative z-50'>
    <div
        class='fixed top-0 -translate-x-1/2 left-1/2 h-[4.5rem] w-full rounded-none border border-white border-opacity-40 bg-white bg-opacity-80 shadow-lg shadow-black/[0.03] backdrop-blur-[0.6rem] sm:top-6 sm:h-[3.25rem] sm:w-[36rem] sm:rounded-full dark:bg-gray-950 dark:border-black/15 dark:shadow-black/[0.1] dark:bg-opacity-80'
    >
        <nav class='flex fixed top-[0.15rem] left-1/2 h-12 -translate-x-1/2 py-2 sm:top-[1.7rem] sm:h-[0] sm:py-0'>
            <ul
                class='flex w-[22rem] flex-wrap items-center justify-center gap-y-1 text-[0.9rem] font-semibold text-gray-500 sm:w-[initial] sm:flex-nowrap sm:gap-2'
            >
                <li class='relative flex items-center justify-center h-3/4'>
                    <a
                        href='#inicio'
                        class='flex items-center justify-center w-full px-2 py-3 transition hover:text-gray-950 dark:text-gray-400 dark:hover:text-gray-200'
                        >Inicio</a
                    >
                </li>
                <li class='relative flex items-center justify-center h-3/4'>
                    <a
                        href='#habilidades'
                        class='flex items-center justify-center w-full px-2 py-3 transition hover:text-gray-950 dark:text-gray-400 dark:hover:text-gray-200'
                        >Habilidades</a
                    >
                </li>
                <li class='relative flex items-center justify-center h-3/4'>
                    <a
                        href='#recursos'
                        class='flex items-center justify-center w-full px-2 py-3 transition hover:text-gray-950 dark:text-gray-400 dark:hover:text-gray-200'
                        >Recursos</a
                    >
                </li>
                <li class='relative flex items-center justify-center h-3/4'>
                    <a
                        href='#'
                        class='flex items-center justify-center w-full px-2 py-3 transition hover:text-gray-950 dark:text-gray-400 dark:hover:text-gray-200'
                        >Experiencias</a
                    >
                </li>
                <li class='relative flex items-center justify-center h-3/4'>
                    <a
                        href='#'
                        class='flex items-center justify-center w-full px-2 py-3 transition hover:text-gray-950 dark:text-gray-400 dark:hover:text-gray-200'
                        >Proyectos</a
                    >
                </li>
                <li class='relative flex items-center justify-center h-3/4'>
                    <a
                        href='#'
                        class='flex items-center justify-center w-full px-2 py-3 transition hover:text-gray-950 dark:text-gray-400 dark:hover:text-gray-200'
                        >Contacto</a
                    >
                </li>
            </ul>
        </nav>
    </div>
</header>
