---
import { Icon } from 'astro-icon/components'

import SectionComponent from './shared/SectionComponent.astro'
import SectionHeading from './shared/SectionHeading.astro'

import { toolsData } from '@/lib/data'
---

<SectionComponent identificador='recursos' className='text-center'>
    <SectionHeading title='Recursos' />
    <ul class='flex flex-wrap justify-center gap-4 text-xl text-gray-800 dark:text-white'>
        {
            toolsData.map(({ name, icon, borderColor, color }) => (
                <li
                    class:list={[
                        'item flex items-center gap-1 border border-black/[0.1] rounded-xl px-5 py-3 shadow-md transition-all duration-300 ease-in-out cursor-default dark:border-white/[0.2]',
                        borderColor,
                    ]}
                >
                    <>
                        <span class:list={['transition-all duration-300 ease-in-out ', color]}>
                            <Icon name={icon} />
                        </span>
                        <span>{name}</span>
                    </>
                </li>
            ))
        }
    </ul>
</SectionComponent>
